%h1= @page_title
%p#archive=link_to 'Перейти до списку замовлень', orders_path
#orders-holder
  - @orders.each do |order|
    .order
      .user-information
        %h3=order.address
        %span.date=l order.created_at, format: :long
        %br
        %span.phone
          %h3=order.phone
        - if order.comment.present?
          .comment="«#{order.comment}»"
      %table
        %tbody
          -order.cart_items.each do |cart_item|
            %tr
              %td=cart_item.item.name
              %td
                -title = "#{cart_item.amount} × #{cart_item.item.price} = #{cart_item.item.price * cart_item.amount}"
                %span(title=title)=cart_item.amount
              %td=number_to_currency cart_item.item.price
          %tr
            %tdЗнижка
            %td
            %td=@orders_discount[order.id][:percent].to_s + '%'
          %tr
            %tdДоставка
            %td
            %td=order.total >= 100 ? 'безкоштовна' : '5 грн.'
        %tfoot
          %tr
            %td
            %td
            %td.total=number_to_currency (order.total - @orders_discount[order.id][:value] + (order.total >= 100 ? 0 : 5))
  =will_paginate @items, :previous_label => '← Попередня', :next_label => 'Наступна →'